<h1>The<strong>Manga</strong>Shoppu</h1>

<% if @current_user.present? %>
    <h2>Welcome <%= @current_user.email %>!</h2>
<% end %>



<div class="content">
    <% @mangas.each do |manga|%>
       
        <%= link_to (image_tag manga.image, :class => 'thumb'), manga %>
        <%= link_to manga.title, manga %>

    <% end%>
</div>